@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
  --color-app-surface: #f8fafc;
  --color-app-text: #111827;
  --color-app-text-minimal: #4b5563;
  --color-error: #d92d20;
  --color-input-border: #cbd5e1;
  --color-general-border: #0f766e;
  --color-focus: #2563eb;
  --color-button-background: #0f766e;
  --color-button-text: #ffffff;
}

body {
  font-family: var(--font-sans);
  color: var(--color-app-text);
}
